/*Configurações gerais da página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5eee7;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 60px auto;
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Titulo principal*/
h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    color: #333;
}
